[submodule ".gitmodule/meekrodb"]
	path = .gitmodule/meekrodb
	url = git://github.com/Meekro/meekrodb.git
[submodule ".gitmodule/raintpl"]
	path = .gitmodule/raintpl
	url = git://github.com/rainphp/raintpl.git
[submodule ".gitmodule/phpmailer"]
	path = .gitmodule/phpmailer
	url = git://github.com/Synchro/PHPMailer.git
[submodule ".gitmodule/kirby-toolkit"]
	path = .gitmodule/kirby-toolkit
	url = git://github.com/bastianallgeier/kirby.git
[submodule ".gitmodule/headjs"]
	path = .gitmodule/headjs
	url = git://github.com/headjs/headjs.git
[submodule ".gitmodule/icanhaz"]
	path = .gitmodule/icanhaz
	url = git://github.com/andyet/ICanHaz.js
[submodule ".gitmodule/fileuploader"]
	path = .gitmodule/fileuploader
	url = git://github.com/valums/file-uploader.git
[submodule ".gitmodule/jquery-address"]
	path = .gitmodule/jquery-address
	url = git://github.com/asual/jquery-address.git
[submodule ".gitmodule/ckeditor-releases"]
	path = .gitmodule/ckeditor-releases
	url = git://github.com/ckeditor/ckeditor-releases.git
