RewriteEngine on
RewriteBase /

RewriteRule ^admin$ index.php?admin=1 [NC,QSA,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?page=$1 [NC,QSA,L]


#RewriteCond %{QUERY_STRING} ^hash(.+)
#RewriteRule ^$ /cms/?%1 [NE,N,R=301]

# Enforce www
# If you have subdomains, you can add them to
# the list using the "|" (OR) regex operator
#RewriteCond %{HTTP_HOST} !^(www|dev) [NC]
#RewriteRule ^(.*)$ http://www.med-gutachten.at/ [L,R=301]

# Enforce NO www
#RewriteCond %{HTTP_HOST} ^www [NC]
#RewriteRule ^(.*)$ http://domain.tld/$1 [L,R=301]

#RewriteCond %{REQUEST_URI} !^(/|/index.php|/blah.php)$
#RewriteRule ^(.*)$ index.php?name=$1 [R]
