/**
 * Bootstrap extended stylesheet
 * by Florian Bräuer
 *
 * simply check all
 * link color is #D85E5E
 * icon sprite path is 'bootstrap.png'
 * white icon sprite is 'bootstrap.white.png'
 */

body{
  background: #000 url("../files/background-04.jpg") no-repeat;
  background-attachment: fixed;
  overflow-y: scroll;
  font-family: Open Sans, Arial, sans-serif;
}

#raster {
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  background: transparent;/* url("raster-60.png") repeat;*/
}

#container{
  z-index: 1;
  position: relative;
}

@media (min-width: 1200px){
  #container{
    /* also 940px instead of bootstrap's 1170px */
    width: 940px;
  }
}

#header{
  height: 200px;
  position: relative;
}

#content-border{
  background: rgba(255,255,255,0.5);
  border-radius: 7px;
  padding: 4px;
}

#content{
  position: relative;
  background: #fff;
  -webkit-box-shadow: rgba(0,0,0,0.3) 0 1px 4px;
  -moz-box-shadow: rgba(0,0,0,0.3) 0 1px 4px;
  box-shadow: rgba(0,0,0,0.3) 0 1px 4px;
  /*border-color: #E4E4E4 #BEBEBD #BEBEBD #E4E4E4;*/
  min-height: 300px;
  padding: 10px 15px;
  border-radius: 4px 4px 0 0;
}

#logo{
  position: absolute;
  top: 10px;
  left: -20px;
  width: 350px;
  z-index: -1;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}
@media (max-width: 768px) {
  #logo{ left: -100px; }
}
@media (max-width: 480px) {
  #logo{ left: -150px; }
}

.leap {
  position: absolute;
  top: 50px;
  right: 0;
  padding: 4px;
  border-radius: 7px;
  background: rgba(255,255,255, 0.5);
}

.leap>div {
  /*background-color: #D85E5E;
  background: rgba(216, 94, 94, 1);
  text-shadow: 1px -1px 1px rgb(255, 255, 255);*/
  background: rgba(255,255,255,0.8);
  color: #D22817;
  padding: 8px 13px 10px 13px;
  margin: 0;
  border-radius: 4px;
}

.leap p {
  display: inline-block;
  font-size: 35px;
  line-height: 30px;
  margin: 0;
}

.leap a {
  display: block;
  position: absolute;
  bottom: -15px;
  right: 8px;
  font-size: 13px;
  line-height: 12px;
  color: #fff;
  background: none;
  text-shadow: 0px 0px 2px #000;
}

#content.start {
  background-color: rgba(255,255,255,0.6);
}

#content .leap {
  top: 120px;
  right: 20px;
}
#content .leap a {
  font-size: 16px;
}

/*
.leap div {
  position: absolute;
  top: -15px;
  right: 8px;
}
.leap div a {
  display: inline-block;
  position: relative;
  top: 0; bottom: 0; right: 0; left: 0;
  padding-left: 5px;
}*/

ul.horizontal {
  list-style-type: none;
}

ul.horizontal li {
  display: inline-block;
}

#tab-menu {
  position: absolute;
  bottom: 10px;
  right: 0;
  text-align: right;
  width: 100%; /*60%; class for #content: span11 offset1*/
  margin: 0; /* overwrites bootstrap:141*/
}

#tab-menu .left {
  float: left;
  /*position: absolute;
  left: 0;
  bottom: 0;*/
}

#tab-menu a:hover, #tab-menu li.active a{
  color: white;
  background: #D22817; /*rgb(198, 90, 17);*/
}

#tab-menu a {
  display: block;
  text-decoration: none;
  padding: 3px 8px 3px 8px;
  font-size: 110%;
  border-radius: 3px;
  color: #D22817; /*rgb(216, 105, 18);*/
  background: rgba(255,255,255,0.9);
}

@media (min-width: 980px) {
  #tab-menu a { font-size: 120%; margin: 0 10px; }
}
@media (max-width: 640px) {
  #tab-menu { width: 100%; }
}
@media (max-width: 480px) {
  #tab-menu a { font-size: 70%; }
}

#actions {
  padding: 0 15px;
  text-align: right;
}
#actions iframe {
  margin-top: 5px;
  position: inline-block;
}
#actions i {
  margin: 3px 7px;
  position: inline-block;
}
#actions a, #actions p {
  display: inline-block;
  color: #fff;
  text-shadow: 0 0 6px #000;
  border-right: 1px solid #ddd;
  padding: 0 5px;
  margin-top: 5px;
}
#actions a.first {
  padding-left: 0;
}
#actions a.last {
  padding-right: 0;
  border-right: 0;
}

#wirby{
  display: inline-block;
  position: absolute;
  bottom: 10px;
  left: 10px;
  opacity: 0;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}
#wirby:hover{
  opacity: 1;
}

.img {
  display: inline-block;
  display: table-cell;
  position: relative;
  vertical-align: middle;
}
.img.center {
  display: table-cell;
  vertical-align: center;
  text-align: center;
}
.uploader {
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0.7;
}
.uploader, .qq-uploader, .qq-upload-button {
  width: 100%;
}

h1 {
  font-size: 25px;
}
h2 {
  font-size: 20px;
}

*:focus, input:focus, textarea:focus{
  outline: none;
  border-color: #eee;
}
.margin-left {
  margin-left: 20px;
}
.margin-top {
  margin-top: 20px;
}

.radio, .checkbox {
  margin-left: 2px;
}
.radio.inline, .checkbox.inline {
  margin-bottom: 5px;
}
.input-middle {
  width: 128px;
}
.input-minii {
  width: 30px;
  height: 20px;
}
@media (max-width: 767px){
  /* in bootstrap.min.css:859 there is a .input-append{width: auto;} */
  .input-mini { width: 30px !important; }
}
.input-unstyled {
  border: none !important;
  background: none !important;
  color: #000 !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  cursor: inherit !important;
}

.dataTable table {
  width: 100%;
}

.dataTable table{
  margin-top: 10px;
}
.dataTable table thead th {
  text-align: left;
  border-bottom: none;
}
.dataTable table tr.odd {
  background-color: #eee;
}
.dataTable table tr.even {
  background-color: #f5f5f5;
}
.dataTable table tr.active td {
  background-color: #D85E5E !important;
  color: white;
}
.dataTable table input[type=checkbox] {
  margin: 0 10px 3px 0;
}

.demo {
  opacity: 0.6;
}

#step1{

}
#step2{
  display: none;
}

#map{
  height: 400px;
  width: 100%;
}

.center {
  text-align: center;
}

.offer {
  padding-left: 120px;
  min-height: 120px;
  position: relative;
}
.offer .img { /* when possible not img directly */
  position: absolute;
  top: 10px;
  left: 0;
}
