#wirby-editors a{
  color: #000;
}

/* Raw Elements */

.wirby-multi, .wirby-single, .wirby-editor, .wirby-editor p, .wirby-editor li, .wirby-multi p, .wirby-image {
  opacity: 0.7;
  cursor: pointer;
  position: relative;
}

.wirby-multi:hover, .wirby-single:hover, .wirby-editor:hover, .wirby-editor:hover p, .wirby-editor:hover li, .wirby-multi:hover, .wirby-image:hover {
  opacity: 1.0;
  cursor: pointer;
  position: relative;
}

.wirby-image {
  z-index: 99;
}

/*.wirby-editor{
  float:left;  to avoid problems with clear
}*/

/* Elements with Forms */

.cke-editor .timeline p{
  margin-left: 0;
}

.wirby-single input{
  margin-left: -7px;
  min-width: 180px;
}

.wirby-editor textarea{
  /*position: relative;
  left: -100px;*/
}

.wirby-multi textarea, .wirby-editor textarea {
  /*height: 100%;*/
  width: 98%;
  /*max-width: 500px;*/
}

.wirby-multi.small textarea{
  font-size: 12px;
}
